ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
pre {
  font-family: "pretendard";
}
img {
  display: block;
  width: 100%;
}
input {
  -webkit-border-radius: 0;

  border-radius: 0;
  box-sizing: border-box;
  font-family: "pretendard";
  font-size: 1rem;
  border: none;
  background: transparent;
}
input:focus {
  outline-offset: 0px;
  outline: none;
}
input::placeholder {
  font-family: "pretendard";
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  border: none;
  padding: 0;
  margin: 0;
  resize: none;
  background: transparent;
  font-family: "pretendard";
}
textarea::placeholder {
  font-family: "pretendard";
}
textarea:focus {
  outline-offset: 0px;
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "pretendard";
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
}
input[type="date"],
input[type="time"] {
  position: relative;
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  right: -6px;
  top: 11px;
  transform: translateX(-10px);
  padding-left: 3000px;
  height: 100%;
  cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  top: 10px;
}
button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  font-family: "pretendard";
  font-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  position: relative;
  font-family: "pretendard";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: 126px;
}
